<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Multi-Choice Exams</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'online_multi_choice_exams/css/stylesheet.css' %}">
    
</head>
<body>
    
    <header id="header">
        <div class="logo">
            <img  class="logo"  src="{% static 'online_multi_choice_exams/img/exams_background.png' %}" style="width:300px !important; height:75px !important" alt="logo">
        </div>
        
        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/searchexam">Search Exam</a>
                    </li>
                    <li>
                        <a href="/uploadexam">Upload New Exam</a>
                    </li>
                </ul>
            </nav>

        </div>

    </header>

    <div id="content">

        {% block content %}
        {% endblock %}           

    </div>


    <footer>
        <div class="logos">
            <img src="{% static 'online_multi_choice_exams/img/eps_no_background.png' %}" style="width:230px !important; height:70px !important" alt="logo eps">
            <img src="{% static 'online_multi_choice_exams/img/UDL_no_background.png' %}" style="width:75px !important; height:60px !important" alt="logo udl">
        </div>
    </footer>


    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>

</body>
</html>